.b-rounded-none { border-radius: var(--b-ref-radius-none) !important; }
.b-rounded-sm { border-radius: var(--b-ref-radius-sm) !important; }
.b-rounded-md { border-radius: var(--b-ref-radius-md) !important; }
.b-rounded-lg { border-radius: var(--b-ref-radius-lg) !important; }
.b-rounded-full { border-radius: var(--b-ref-radius-full) !important; }

.b-border { border: 1px solid var(--b-border-color) !important; }
.b-border-t { border-top: 1px solid var(--b-border-color) !important; }
.b-border-b { border-bottom: 1px solid var(--b-border-color) !important; }