/* ==========================================
   GRID
   ========================================== */

/* Display */
.b-grid        { display: grid !important; }
.b-inline-grid { display: inline-grid !important; }

/* Grid Columns */
.b-grid-cols-1  { grid-template-columns: repeat(1, minmax(0, 1fr)) !important; }
.b-grid-cols-2  { grid-template-columns: repeat(2, minmax(0, 1fr)) !important; }
.b-grid-cols-3  { grid-template-columns: repeat(3, minmax(0, 1fr)) !important; }
.b-grid-cols-4  { grid-template-columns: repeat(4, minmax(0, 1fr)) !important; }
.b-grid-cols-5  { grid-template-columns: repeat(5, minmax(0, 1fr)) !important; }
.b-grid-cols-6  { grid-template-columns: repeat(6, minmax(0, 1fr)) !important; }
.b-grid-cols-12 { grid-template-columns: repeat(12, minmax(0, 1fr)) !important; }

/* Grid Rows */
.b-grid-rows-1  { grid-template-rows: repeat(1, minmax(0, 1fr)) !important; }
.b-grid-rows-2  { grid-template-rows: repeat(2, minmax(0, 1fr)) !important; }
.b-grid-rows-3  { grid-template-rows: repeat(3, minmax(0, 1fr)) !important; }
.b-grid-rows-4  { grid-template-rows: repeat(4, minmax(0, 1fr)) !important; }
.b-grid-rows-5  { grid-template-rows: repeat(5, minmax(0, 1fr)) !important; }
.b-grid-rows-6  { grid-template-rows: repeat(6, minmax(0, 1fr)) !important; }
.b-grid-rows-12 { grid-template-rows: repeat(12, minmax(0, 1fr)) !important; }

/* Column Spans */
.b-col-span-1  { grid-column: span 1 / span 1 !important; }
.b-col-span-2  { grid-column: span 2 / span 2 !important; }
.b-col-span-3  { grid-column: span 3 / span 3 !important; }
.b-col-span-4  { grid-column: span 4 / span 4 !important; }
.b-col-span-6  { grid-column: span 6 / span 6 !important; }
.b-col-span-12 { grid-column: span 12 / span 12 !important; }
.b-col-full    { grid-column: 1 / -1 !important; }

/* Row Spans */
.b-row-span-1 { grid-row: span 1 / span 1 !important; }
.b-row-span-2 { grid-row: span 2 / span 2 !important; }
.b-row-span-3 { grid-row: span 3 / span 3 !important; }
.b-row-span-4 { grid-row: span 4 / span 4 !important; }
.b-row-span-5 { grid-row: span 5 / span 5 !important; }
.b-row-full   { grid-row: 1 / -1 !important; }

/* Justify */
.b-justify-items-start   { justify-items: start !important; }
.b-justify-items-end     { justify-items: end !important; }
.b-justify-items-center  { justify-items: center !important; }
.b-justify-items-stretch { justify-items: stretch !important; }

/* Alignment */
.b-align-items-start   { align-items: start !important; }
.b-align-items-end     { align-items: end !important; }
.b-align-items-center  { align-items: center !important; }
.b-align-items-stretch { align-items: stretch !important; }

/* Center */
.b-place-items-center  { place-items: center !important; }

/* Auto generate 250px columns in grid box */
.b-grid-cols-auto {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)) !important;
}