/* ==========================================
   MARGINS
   ========================================== */

/* Around */
.b-m-0 { margin: 0 !important; }
.b-m-1 { margin: var(--b-ref-space-1) !important; }
.b-m-2 { margin: var(--b-ref-space-2) !important; }
.b-m-3 { margin: var(--b-ref-space-3) !important; }
.b-m-4 { margin: var(--b-ref-space-4) !important; }
.b-m-5 { margin: var(--b-ref-space-5) !important; }
.b-m-6 { margin: var(--b-ref-space-6) !important; }
.b-m-7 { margin: var(--b-ref-space-7) !important; }
.b-m-8 { margin: var(--b-ref-space-8) !important; }
.b-m-auto { margin: auto !important; }

/* Vertical */
.b-my-0 { margin-top: 0 !important;margin-bottom: 0 !important; }
.b-my-1 { margin-top: var(--b-ref-space-1) !important; margin-bottom: var(--b-ref-space-1) !important; }
.b-my-2 { margin-top: var(--b-ref-space-2) !important; margin-bottom: var(--b-ref-space-2) !important; }
.b-my-3 { margin-top: var(--b-ref-space-3) !important; margin-bottom: var(--b-ref-space-3) !important; }
.b-my-4 { margin-top: var(--b-ref-space-4) !important; margin-bottom: var(--b-ref-space-4) !important; }
.b-my-5 { margin-top: var(--b-ref-space-5) !important; margin-bottom: var(--b-ref-space-5) !important; }
.b-my-6 { margin-top: var(--b-ref-space-6) !important; margin-bottom: var(--b-ref-space-6) !important; }
.b-my-7 { margin-top: var(--b-ref-space-7) !important; margin-bottom: var(--b-ref-space-7) !important; }
.b-my-8 { margin-top: var(--b-ref-space-8) !important; margin-bottom: var(--b-ref-space-8) !important; }
.b-my-auto { margin-top: auto !important; margin-bottom: auto !important; }

/* Horizontal */
.b-mx-0 { margin-left: 0 !important; margin-right: 0 !important; }
.b-mx-1 { margin-left: var(--b-ref-space-1) !important; margin-right: var(--b-ref-space-1) !important; }
.b-mx-2 { margin-left: var(--b-ref-space-2) !important; margin-right: var(--b-ref-space-2) !important; }
.b-mx-3 { margin-left: var(--b-ref-space-3) !important; margin-right: var(--b-ref-space-3) !important; }
.b-mx-4 { margin-left: var(--b-ref-space-4) !important; margin-right: var(--b-ref-space-4) !important; }
.b-mx-5 { margin-left: var(--b-ref-space-5) !important; margin-right: var(--b-ref-space-5) !important; }
.b-mx-6 { margin-left: var(--b-ref-space-6) !important; margin-right: var(--b-ref-space-6) !important; }
.b-mx-7 { margin-left: var(--b-ref-space-7) !important; margin-right: var(--b-ref-space-7) !important; }
.b-mx-8 { margin-left: var(--b-ref-space-8) !important; margin-right: var(--b-ref-space-8) !important; }
.b-mx-auto { margin-left: auto !important; margin-right: auto !important; }

/* Top */
.b-mt-0 { margin-top: 0 !important; }
.b-mt-1 { margin-top: var(--b-ref-space-1) !important; }
.b-mt-2 { margin-top: var(--b-ref-space-2) !important; }
.b-mt-3 { margin-top: var(--b-ref-space-3) !important; }
.b-mt-4 { margin-top: var(--b-ref-space-4) !important; }
.b-mt-5 { margin-top: var(--b-ref-space-5) !important; }
.b-mt-6 { margin-top: var(--b-ref-space-6) !important; }
.b-mt-7 { margin-top: var(--b-ref-space-7) !important; }
.b-mt-8 { margin-top: var(--b-ref-space-8) !important; }
.b-mt-auto { margin-top: auto !important; }

/* Bottom */
.b-mb-0 { margin-bottom: 0 !important; }
.b-mb-1 { margin-bottom: var(--b-ref-space-1) !important; }
.b-mb-2 { margin-bottom: var(--b-ref-space-2) !important; }
.b-mb-3 { margin-bottom: var(--b-ref-space-3) !important; }
.b-mb-4 { margin-bottom: var(--b-ref-space-4) !important; }
.b-mb-5 { margin-bottom: var(--b-ref-space-5) !important; }
.b-mb-6 { margin-bottom: var(--b-ref-space-6) !important; }
.b-mb-7 { margin-bottom: var(--b-ref-space-7) !important; }
.b-mb-8 { margin-bottom: var(--b-ref-space-8) !important; }
.b-mb-auto { margin-bottom: auto !important; }

/* Left */
.b-ml-0 { margin-left: 0 !important; }
.b-ml-1 { margin-left: var(--b-ref-space-1) !important; }
.b-ml-2 { margin-left: var(--b-ref-space-2) !important; }
.b-ml-3 { margin-left: var(--b-ref-space-3) !important; }
.b-ml-4 { margin-left: var(--b-ref-space-4) !important; }
.b-ml-5 { margin-left: var(--b-ref-space-5) !important; }
.b-ml-6 { margin-left: var(--b-ref-space-6) !important; }
.b-ml-7 { margin-left: var(--b-ref-space-7) !important; }
.b-ml-8 { margin-left: var(--b-ref-space-8) !important; }
.b-ml-auto { margin-left: auto !important; }

/* Right */
.b-mr-0 { margin-right: 0 !important; }
.b-mr-1 { margin-right: var(--b-ref-space-1) !important; }
.b-mr-2 { margin-right: var(--b-ref-space-2) !important; }
.b-mr-3 { margin-right: var(--b-ref-space-3) !important; }
.b-mr-4 { margin-right: var(--b-ref-space-4) !important; }
.b-mr-5 { margin-right: var(--b-ref-space-5) !important; }
.b-mr-6 { margin-right: var(--b-ref-space-6) !important; }
.b-mr-7 { margin-right: var(--b-ref-space-7) !important; }
.b-mr-8 { margin-right: var(--b-ref-space-8) !important; }
.b-mr-auto { margin-right: auto !important; }

/* ==========================================
   PADDINGS
   ========================================== */

/* Around */
.b-p-0 { padding: 0 !important; }
.b-p-1 { padding: var(--b-ref-space-1) !important; }
.b-p-2 { padding: var(--b-ref-space-2) !important; }
.b-p-3 { padding: var(--b-ref-space-3) !important; }
.b-p-4 { padding: var(--b-ref-space-4) !important; }
.b-p-5 { padding: var(--b-ref-space-5) !important; }
.b-p-6 { padding: var(--b-ref-space-6) !important; }
.b-p-7 { padding: var(--b-ref-space-7) !important; }
.b-p-8 { padding: var(--b-ref-space-8) !important; }

/* Vertical */
.b-py-0 { padding-top: 0 !important; padding-bottom: 0 !important; }
.b-py-1 { padding-top: var(--b-ref-space-1) !important; padding-bottom: var(--b-ref-space-1) !important; }
.b-py-2 { padding-top: var(--b-ref-space-2) !important; padding-bottom: var(--b-ref-space-2) !important; }
.b-py-3 { padding-top: var(--b-ref-space-3) !important; padding-bottom: var(--b-ref-space-3) !important; }
.b-py-4 { padding-top: var(--b-ref-space-4) !important; padding-bottom: var(--b-ref-space-4) !important; }
.b-py-5 { padding-top: var(--b-ref-space-5) !important; padding-bottom: var(--b-ref-space-5) !important; }
.b-py-6 { padding-top: var(--b-ref-space-6) !important; padding-bottom: var(--b-ref-space-6) !important; }
.b-py-7 { padding-top: var(--b-ref-space-7) !important; padding-bottom: var(--b-ref-space-7) !important; }
.b-py-8 { padding-top: var(--b-ref-space-8) !important; padding-bottom: var(--b-ref-space-8) !important; }

/* Horizontal */
.b-px-0 { padding-left: 0 !important; padding-right: 0 !important; }
.b-px-1 { padding-left: var(--b-ref-space-1) !important; padding-right: var(--b-ref-space-1) !important; }
.b-px-2 { padding-left: var(--b-ref-space-2) !important; padding-right: var(--b-ref-space-2) !important; }
.b-px-3 { padding-left: var(--b-ref-space-3) !important; padding-right: var(--b-ref-space-3) !important; }
.b-px-4 { padding-left: var(--b-ref-space-4) !important; padding-right: var(--b-ref-space-4) !important; }
.b-px-5 { padding-left: var(--b-ref-space-5) !important; padding-right: var(--b-ref-space-5) !important; }
.b-px-6 { padding-left: var(--b-ref-space-6) !important; padding-right: var(--b-ref-space-6) !important; }
.b-px-7 { padding-left: var(--b-ref-space-7) !important; padding-right: var(--b-ref-space-7) !important; }
.b-px-8 { padding-left: var(--b-ref-space-8) !important; padding-right: var(--b-ref-space-8) !important; }

/* Top */
.b-pt-0 { padding-top: 0 !important; }
.b-pt-1 { padding-top: var(--b-ref-space-1) !important; }
.b-pt-2 { padding-top: var(--b-ref-space-2) !important; }
.b-pt-3 { padding-top: var(--b-ref-space-3) !important; }
.b-pt-4 { padding-top: var(--b-ref-space-4) !important; }
.b-pt-5 { padding-top: var(--b-ref-space-5) !important; }
.b-pt-6 { padding-top: var(--b-ref-space-6) !important; }
.b-pt-7 { padding-top: var(--b-ref-space-7) !important; }
.b-pt-8 { padding-top: var(--b-ref-space-8) !important; }

/* Bottom */
.b-pb-0 { padding-bottom: 0 !important; }
.b-pb-1 { padding-bottom: var(--b-ref-space-1) !important; }
.b-pb-2 { padding-bottom: var(--b-ref-space-2) !important; }
.b-pb-3 { padding-bottom: var(--b-ref-space-3) !important; }
.b-pb-4 { padding-bottom: var(--b-ref-space-4) !important; }
.b-pb-5 { padding-bottom: var(--b-ref-space-5) !important; }
.b-pb-6 { padding-bottom: var(--b-ref-space-6) !important; }
.b-pb-7 { padding-bottom: var(--b-ref-space-7) !important; }
.b-pb-8 { padding-bottom: var(--b-ref-space-8) !important; }

/* Left */
.b-pl-0 { padding-left: 0 !important; }
.b-pl-1 { padding-left: var(--b-ref-space-1) !important; }
.b-pl-2 { padding-left: var(--b-ref-space-2) !important; }
.b-pl-3 { padding-left: var(--b-ref-space-3) !important; }
.b-pl-4 { padding-left: var(--b-ref-space-4) !important; }
.b-pl-5 { padding-left: var(--b-ref-space-5) !important; }
.b-pl-6 { padding-left: var(--b-ref-space-6) !important; }
.b-pl-7 { padding-left: var(--b-ref-space-7) !important; }
.b-pl-8 { padding-left: var(--b-ref-space-8) !important; }

/* Right */
.b-pr-0 { padding-right: 0 !important; }
.b-pr-1 { padding-right: var(--b-ref-space-1) !important; }
.b-pr-2 { padding-right: var(--b-ref-space-2) !important; }
.b-pr-3 { padding-right: var(--b-ref-space-3) !important; }
.b-pr-4 { padding-right: var(--b-ref-space-4) !important; }
.b-pr-5 { padding-right: var(--b-ref-space-5) !important; }
.b-pr-6 { padding-right: var(--b-ref-space-6) !important; }
.b-pr-7 { padding-right: var(--b-ref-space-7) !important; }
.b-pr-8 { padding-right: var(--b-ref-space-8) !important; }