:root {
    /* ==========================================
       BUTTON
       ========================================== */

    /* Size */
    --b-button-sm: var(--b-size-sm);
    --b-button-md: var(--b-size-md);
    --b-button-lg: var(--b-size-lg);

    /* Border */
    --b-button-border: 1px solid var(--b-button-border-color);
    --b-button-radius: var(--b-ref-radius-md);

    /* Padding */
    --b-button-padding-y: var(--b-ref-space-2);
    --b-button-padding-x: var(--b-ref-space-3);

    /* Font */
    --b-button-font-family: var(--b-font-family);
    --b-button-font-size: var(--b-font-size-md);
    --b-button-line-height: var(--b-line-height-none);
    --b-button-font-weight: var(--b-font-weight-medium);

    /* Color */
    --b-button-bg: var(--b-color-primary);
    --b-button-bg-hover: var(--b-color-primary-hover);
    --b-button-color: var(--b-text-on-primary);
    --b-button-color-hover: var(--b-text-on-primary);
    --b-button-border-color: transparent;

    /* Transition */
    --b-button-transition: all var(--b-ref-duration-normal) var(--b-ref-ease-in-out);

    /* ==========================================
       CARD
       ========================================== */

    /* Base */
    --b-card-radius: var(--b-ref-radius-lg);
    --b-card-title-weight: var(--b-font-weight-bold);
    --b-card-title-color: var(--b-text-main);
    --b-card-title-size: var(--b-font-size-md);
    --b-card-font-size: var(--b-font-size-sm);

    /* Size */
    --b-card-pg-sm: var(--b-ref-space-3); /* 12px */
    --b-card-pg-md: var(--b-ref-space-5); /* 20px */
    --b-card-pg-lg: var(--b-ref-space-8); /* 32px */

    --b-card-padding-x: var(--b-ref-space-5);
    --b-card-padding-y: var(--b-ref-space-5);

    /* SM */
    --b-card-padding-sm-x: var(--b-ref-space-4);
    --b-card-padding-sm-y: var(--b-ref-space-4);

    /* ==========================================
       BADGE
       ========================================== */
    --b-badge-border-radius: var(--b-ref-radius-md);
    --b-badge-border-radius-full: var(--b-ref-radius-full);
    --b-badge-padding: var(--b-ref-space-1) var(--b-ref-space-1);
    --b-badge-bg: var(--b-color-primary);
    --b-badge-color: var(--b-text-on-primary);
    --b-badge-font-size: var(--b-font-size-xs);
    --b-badge-font-weight: var(--b-font-weight-bold);
    --b-badge-min-width: var(--b-ref-space-6);
    --b-badge-height: var(--b-ref-space-5);
    --b-badge-gap: var(--b-ref-space-1);
    /* BADGE END */
}

[data-theme='dark'] {
    --b-card-bg: var(--b-bg-surface);
    --b-card-border-color: var(--b-border-color);
}